@CHARSET "ISO-8859-1";

#dataFilter {
	border:thin;
	border-style:inset;
	
	margin-top: 5%;
	margin-left: 15%;
	width: 70%;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	
}

#csvUpload, #fieldsetId {
	border:thin;
	border-style:inset;
	margin-left: 15%;
	width: 70%;
	padding: 1%;
	
}

#addColumn,#addUser{
	border: medium;
	border-style: outset;
	padding: 5px;
	color: black;
	background-color: #c0c0c0;
}

#studTable{
	width:70%;
	max-height:100 px;
	margin-left:15%;
	margin-top: 1%;
	overflow-x:auto;
}

#studentTable{
	margin-top: 2%;
}

#lectureTimes{
	margin-top: 2%;
	margin-left:15%;
}

#lectureTimeAdd{
/* 	margin-top: 2%; */
	margin-left:15%;
	padding: 5px;
}

ul,li
{
list-style-type: none;
}

#submitScoresDate {
	margin-left: 15%;
	width: 70%;
	padding: 1%;
	
}

